.head {
    padding: 20px;
    text-align: center;
    color: white;
    
}

.head h1{ 
    font-size: 40px;
 }

.para p { 
    border:  2px solid powderblue;
    margin: 50px;
    padding: 30px;
}

/* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-end;
    padding-left: 35px;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    align-self: auto;
    text-align: center;
    flex: 30%; /* Set the width of the sidebar */
    background-color: white; /* white background color */
    
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }



/* adding responsivness */ 
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

.box{
    flex-shrink:inherit;
}